* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--base);
  font-family: -apple-system, 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 0;
  top: 0;
  width: 100vw;
  cursor: image-url('default.svg'), auto;
  padding-top: 180px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: image-url('pointer.svg'), auto;
}
