//текстовые стили
.h3,
.W_WorkPics .A_WorkToggle {
  font-size: 24px;
  letter-spacing: -0.5px;
  &.beige {
    color: var(--base);
  }
}
.h2 {
  font-size: 55px;
  letter-spacing: -1.5px;
}
.p {
  font-size: 15px;
  letter-spacing: -0.3px;
}
.A_UnderlinedLink {
  text-decoration: underline;
}

//хед фут
.O_MenubarMobile {
  display: none;
  position: fixed;
  padding: 16px;
  bottom: 14px;
  width: 100%;
  z-index: 10000;
  flex-direction: row;
  align-items: end;
  gap: 10px;
  * {
    transition: all 0.3s cubic-bezier(0.87, 0.22, 0.79, 0.6);
  }
  .A_Arrow {
    display: block;
    padding: 12px;
    height: 45px;
    width: 45px;
    text-align: center;
    background-color: var(--white);
    border-radius: 100px;
    box-shadow: 0px 0px 20px 0px rgba(108, 111, 121, 0.07),
      0px 0px 8px 0px rgba(0, 0, 0, 0.02);
    user-select: none;
    &.Collapsed {
      transform: rotate(-180deg);
    }
  }
  .M_MenuLinks {
    background-color: var(--white);
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    padding: 12px 30px;
    flex-direction: column;
    border-radius: 20px;
    height: auto;
    flex: 1;
    max-height: 200px;
    box-shadow: 0px 15px 20px 0px rgba(108, 111, 121, 0.07),
      0px 5px 8px 0px rgba(0, 0, 0, 0.02);
    overflow-y: hidden;
    &.Collapsed {
      max-height: 45px;
    }
    .A_MenuLink {
      color: var(--grey);
      height: 22px;
      text-align: center;
      &.Current {
        color: var(--black);
      }
    }
  }
}

.O_Menubar {
  position: fixed;
  z-index: 10000;
  top: 2.5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
  width: 100%;
  .A_Carina {
    height: 55px;
    display: block;
    width: 55px;
    background-color: var(--pink);
    border-radius: 100px;
    box-shadow: 0px 15px 20px 0px rgba(108, 111, 121, 0.07),
      0px 5px 8px 0px rgba(0, 0, 0, 0.02);
  }
  .M_MenuLinks {
    background-color: var(--white);
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    flex-direction: row;
    border-radius: 100px;
    height: 55px;
    box-shadow: 0px 15px 20px 0px rgba(108, 111, 121, 0.07),
      0px 5px 8px 0px rgba(0, 0, 0, 0.02);
    .A_MenuLink {
      color: var(--grey);
      line-height: 200%;
      &:hover {
        color: var(--pink);
      }
      &.Current {
        color: var(--black);
      }
    }
  }
}
.O_Footer {
  position: relative;
  font-size: 17px;
  color: var(--grey);
  align-items: center;
  text-align: center;
  padding: 5vh;
  min-height: 10vh;
}

//главная
.Q_ForMyHeart {
  width: 100vw;
  height: 40px;
  background: linear-gradient(
    180deg,
    var(--pink) 0%,
    rgba(241, 242, 249, 0) 100%
  );
  position: fixed;
  top: 0;
}

.S_Main {
  width: 85vw;
  max-width: 2200px;
  height: 70vh;
  min-height: 700px;
  max-height: 1100px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  .W_Grid {
    display: grid;
    align-items: stretch;
    width: 100%;
    height: 100%;
    // min-height: 800px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 12px;
    div a {
      // position: absolute;
      display: block;
      width: 100%;
      height: 100%;
    }
    & > * {
      border-radius: 30px;
      background-color: var(--white);
      box-shadow: 0px 15px 20px 0px rgba(108, 111, 121, 0.07),
        0px 5px 8px 0px rgba(0, 0, 0, 0.02);
      transition: all 0.2s;
    }

    & > div:not(.O_Timer):hover {
      filter: brightness(0.95);
    }
    .O_Music {
      grid-column: 4/7;
      grid-row: 1/3;
      overflow: hidden;
      background-color: #cccdcd;
      cursor: image-url('pointer.svg'), auto !important;
    }
    .O_Offtop {
      grid-column: 9/13;
      grid-row: 5/6;
      z-index: 100;
      // grid-column: 2/4;
      // grid-row: 4;

      border-radius: 30px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      position: relative;
      background-color: transparent;

      .Q_BackOfftop {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('A_Offtop.png');

        filter: grayscale(0.2);
        filter: brightness(0.4);
        background-size: cover;
        background-position: center;
        z-index: -1;
      }
      .A_OfftopLink {
        color: var(--white);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 36px;
      }
    }
    .O_Happiness {
      position: relative;
      grid-column: 1/5;
      grid-row: 4/6;
      display: flex;
      flex-direction: row;
      padding: 36px;
      gap: 2vh;
      justify-content: space-between;
      .A_HappinessLink {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: image-url('pointer.svg'), auto;
      }
      .W_HappinessTexts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .HappinessDate,
        .HappinessText {
          color: var(--grey);
        }
        .W_HappinessTexts2 {
          display: flex;
          flex-direction: column;
          gap: 1vh;
        }
      }
      img {
        border-radius: 18px;
        position: relative;
        height: 100%;
        width: auto;

        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
      }
    }
    .O_TgChannel {
      grid-column: 4/5;
      grid-row: 3;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .O_CV {
      grid-column: 7/9;
      grid-row: 1/4;
      padding: 36px;

      .A_CV {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        .Q_CV {
          font-size: 157px;
        }
      }
    }
    .O_Connect {
      background-color: var(--black);
      grid-column: 9/13;
      grid-row: 1/5;
      overflow: hidden;
      .A_ConnectText {
        z-index: 2;
        color: var(--base);
        padding: 36px;
        padding-right: 70%;
      }

      a {
        overflow: hidden;
        position: relative;
        transition: all 3s ease-out;
        &:hover svg {
          transform: rotate(90deg);
        }
        svg {
          width: 160%;
          position: absolute;
          transition: all 2s ease-out;
        }
      }
    }
    .O_Facebook {
      grid-column: 12/13;
      grid-row: 5;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .O_Hse {
      grid-column: 5/7;
      grid-row: 3/6;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 36px;
      position: relative;

      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
      .A_HseText {
        color: var(--grey);
      }
      .A_HseImg {
        max-width: 80%;
      }
    }
    .O_SomethingGood {
      grid-column: 2/4;
      background-color: var(--pink);
      color: var(--white);
      grid-row: 4;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .O_Timer {
      grid-column: 1/4;
      grid-row: 1/4;
      padding: 36px;
      display: flex;
      justify-content: center;
      align-items: left;
      background-image: url('heart.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      flex-direction: column;
      span {
        color: var(--white);
        text-align: center;
      }
      #timer {
        color: var(--white);
      }
    }
    .O_MyCaps {
      grid-column: 7/9;
      grid-row: 4/6;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      img {
        height: 80%;
        max-height: 150px;
        width: auto;
        // width: 80%;
      }
      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
    }
  }
}

//работа
.A_Heading {
  color: var(--black);
}

.S_Work {
  width: 1820px;
  min-height: 80vh;
  margin: 0 auto;
  position: relative;
  top: 0;
  .W_WorkHead {
    margin-top: 60px; //hee hee hee hee OwO
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 8vh;
    .A_Heading {
      text-align: center;
      max-width: 60%;
    }
  }
  .W_WorkInfo {
    margin-top: 16vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .A_WorkInfo {
      color: var(--grey);
      text-align: center;
      width: 180px;
    }
  }
  .W_WorkCases {
    margin-top: 16vh;
    .A_Heading {
      text-align: center;
    }
    .C_WorkCasesGrid {
      margin-top: 4vh;
      display: grid;
      align-items: stretch;
      width: 100%;
      min-height: 1200px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(9, 1fr);
      grid-gap: 12px;
      .M_WorkCase {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--white);
        border-radius: 30px;
        padding: 36px;
        overflow: hidden;
        position: relative;
        cursor: image-url('pointer.svg'), auto;
        box-shadow: 0px 15px 20px 0px rgba(108, 111, 121, 0.07),
          0px 5px 8px 0px rgba(0, 0, 0, 0.02);

        & * {
          transition: all 0.5s ease-in-out;
        }
        .A_WorkLink {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 10;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          cursor: image-url('pointer.svg'), auto;
        }
        .W_WorkCaseBackground {
          position: absolute;
          width: 100%;
          height: 100%;

          img {
            position: absolute;
          }
        }
        .A_WorkCaseHeading {
          z-index: 2;
        }
        .C_WorkCaseTags {
          display: flex;
          flex-direction: row;
          gap: 8px;
          z-index: 2;

          .A_WorkCaseTag {
            background-color: var(--grey);
            color: var(--white);
            border-radius: 100px;
            padding: 8px 16px;
          }
        }
        &.WorkCaseRasklad {
          grid-column: 4/10;
          grid-row: 1/3;

          .A_raskladpreview1 {
            width: 12%;
            height: auto;
            bottom: -4%;
            right: 60%;
          }
          .A_raskladpreview4 {
            width: 12%;
            height: auto;
            top: 50%;
            right: 50%;
          }
          .A_raskladpreview5 {
            width: 12%;
            height: auto;
            top: 30%;
            right: 5%;
          }

          .A_raskladpreview2 {
            height: 100%;
            width: auto;
            top: 20%;
            right: 6%;
          }
          .A_raskladpreview3 {
            height: 100%;
            width: auto;
            top: 2%;
            right: 33%;
          }
          &:hover {
            .A_raskladpreview1 {
              bottom: 5%;
              transform: rotate(10deg);
            }
            .A_raskladpreview2 {
              top: 10%;
              transform: rotate(-5deg);
            }
            .A_raskladpreview3 {
              top: 2%;
              transform: rotate(2deg);
            }
          }
        }

        &.WorkCaseLutok {
          grid-column: 4/10;
          grid-row: 3/5;
          .A_lutokpreview1 {
            width: 30%;
            height: auto;
            bottom: 30%;
            right: 50%;
          }
          .A_lutokpreview4 {
            width: 30%;
            height: auto;
            top: 20%;
            right: -2%;
          }
          .A_lutokpreview5 {
            width: 30%;
            height: auto;
            bottom: 2%;
            right: 10%;
          }
          .A_lutokpreview2 {
            width: 30%;
            height: auto;
            bottom: 10%;
            right: 30%;
          }
          .A_lutokpreview3 {
            width: 30%;
            height: auto;
            top: 5%;
            right: 20%;
          }
          &:hover {
            .A_lutokpreview1 {
              bottom: 40%;
              transform: rotate(-5deg);
            }
            .A_lutokpreview2 {
              bottom: 13%;
              transform: rotate(5deg);
            }
            .A_lutokpreview3 {
              top: 2%;
              transform: rotate(10deg);
            }
            .A_lutokpreview4 {
              top: 22%;
              transform: rotate(-2deg);
            }
          }
        }

        &.WorkCaseSberAI {
          grid-column: 4/8;
          grid-row: 5/6;
          background-color: #e5e5f7;
          opacity: 0.8;
          background: repeating-linear-gradient(
            45deg,
            var(--base),
            var(--base) 4px,
            var(--white) 4px,
            var(--white) 16px
          );
        }
        &.WorkCaseTinder {
          grid-column: 4/8;
          grid-row: 6/7;
          .A_tinderpreview {
            width: auto;
            height: 100%;
            bottom: -5%;
            right: -2%;
          }

          &:hover {
            .A_tinderpreview {
              bottom: -3%;
              right: 2%;
              transform: rotate(-2deg);
            }
          }
        }

        &.WorkCasePortfolio {
          grid-column: 8/10;
          grid-row: 5/7;
          .A_portfoliopreview {
            width: 120%;
            height: auto;
            bottom: 15%;
            right: -30%;
          }

          &:hover {
            .A_portfoliopreview {
              bottom: 16%;
              right: -27%;
              transform: rotate(2deg);
            }
          }
        }
        &.WorkCasevtoroe {
          grid-column: 4/10;
          grid-row: 7/9;
          .A_vtoroepreview1 {
            height: 110%;
            width: auto;
            transform: rotate(20deg);
            top: 1%;
            right: -3%;
          }
          .A_vtoroepreview2 {
            object-fit: contain;
            width: 20%;
            height: auto;
            top: 30%;
            right: 50%;
          }
          .A_vtoroepreview3 {
            object-fit: contain;
            height: 120%;
            width: auto;
            top: 20%;
            right: 30%;
          }

          &:hover {
            .A_vtoroepreview1 {
              transform: rotate(15deg);

              top: -3%;
            }
            .A_vtoroepreview2 {
              transform: rotate(5deg);
              top: 25%;
            }
            .A_vtoroepreview3 {
              transform: rotate(5deg);
              top: 25%;
            }
          }
        }
        &.WorkCaseZine {
          grid-column: 4/6;
          grid-row: 9/10;
          .A_zinepreview {
            right: 0%;
            top: -50%;
            height: 200%;
            width: auto;
          }
          &:hover {
            .A_zinepreview {
              transform: scale(1.1);
            }
          }
        }
        &.WorkCaseGotbit {
          grid-column: 6/8;
          grid-row: 9/10;
          .A_gotbitpreview {
            width: 150%;
            height: auto;
            top: 1%;
            left: 30%;
          }
          &:hover {
            .A_gotbitpreview {
              transform: scale(1.1);
            }
          }
        }
        &.WorkCaseKandinsky {
          grid-column: 8/10;
          grid-row: 9/10;
          background: repeating-linear-gradient(
            45deg,
            var(--base),
            var(--base) 4px,
            var(--white) 4px,
            var(--white) 16px
          );
        }
      }
    }
  }
  .W_WorkPics {
    margin-top: 16vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    .A_BackButton {
      background-color: var(--black);
      color: var(--white);
      border-radius: 100px;
      padding: 16px 24px;
      box-shadow: 0px 15px 20px 0px rgba(108, 111, 121, 0.07),
        0px 5px 8px 0px rgba(0, 0, 0, 0.02);
    }
    .W_WorkToggle {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .A_WorkToggle {
        width: 200px;
        z-index: 100;
        @mixin can-toggle-branding(
          $can-toggle-off-color: white,
          $can-toggle-on-color: white,
          $can-toggle-inactive-text: var(--grey),
          $can-toggle-transition: ease-in-out
        ) {
          input[type='checkbox'] {
            &[disabled] ~ label {
              color: rgba($can-toggle-off-color, 0.5);
            }

            &:focus ~ label,
            &:hover ~ label {
              .can-toggle__switch {
                background-color: $can-toggle-off-color;
                cursor: image-url('pointer.svg'), auto;
                &:after {
                  color: darken($can-toggle-off-color, 10%);
                }
              }
            }
            &:hover ~ label {
              color: darken($can-toggle-off-color, 5%);
            }
            &:checked {
              ~ label {
                &:hover {
                  color: darken($can-toggle-on-color, 3%);
                }

                .can-toggle__switch {
                  background-color: lighten($can-toggle-on-color, 5%);
                  &:after {
                    color: darken($can-toggle-on-color, 5%);
                  }
                }
              }

              &:focus,
              &:hover {
                ~ label {
                  .can-toggle__switch {
                    background-color: $can-toggle-on-color;
                    &:after {
                      color: darken($can-toggle-on-color, 10%);
                    }
                  }
                }
              }
            }
          }

          label {
            .can-toggle__label-text {
              flex: 1;
            }

            .can-toggle__switch {
              transition: background-color 0.3s $can-toggle-transition;
              background: lighten($can-toggle-off-color, 5%);
              &:before {
                color: $can-toggle-inactive-text;
              }
              &:after {
                // Autoprefixer choked here, so making the prefixes explicit
                -webkit-transition: -webkit-transform 0.3s
                  $can-toggle-transition;
                transition: transform 0.3s $can-toggle-transition;
                color: $can-toggle-off-color;
              }
            }
          }
        }

        @mixin can-toggle-appearance(
          $can-toggle-width: 134px,
          $can-toggle-height: 36px,
          $can-toggle-border-radius: 4px,
          $can-toggle-offset: 2px,
          // $can-toggle-label-font-size: 14px,
          // $can-toggle-switch-font-size: 12px
        ) {
          $can-toggle-switch-width: $can-toggle-width/2;

          input[type='checkbox'] {
            &:focus ~ label,
            &:hover ~ label {
              .can-toggle__switch {
              }
            }

            &:checked {
              ~ label {
                .can-toggle__switch {
                  &:after {
                    transform: translate3d(
                      $can-toggle-width -
                        (
                          $can-toggle-switch-width +
                            $can-toggle-offset
                        ),
                      0,
                      0
                    );
                  }
                }
              }
              &:focus,
              &:hover {
                ~ label {
                  .can-toggle__switch {
                  }
                }
              }
            }
          }

          label {
            // font-size: $can-toggle-label-font-size;

            .can-toggle__switch {
              height: $can-toggle-height;
              flex: 0 0 $can-toggle-width;
              border-radius: $can-toggle-border-radius;

              &:before {
                left: $can-toggle-width/2;
                // font-size: $can-toggle-switch-font-size;
                line-height: $can-toggle-height;
                width: $can-toggle-width/2;
                padding: 0 12px;
              }

              &:after {
                top: $can-toggle-offset;
                left: $can-toggle-offset;
                border-radius: $can-toggle-border-radius/2;
                width: $can-toggle-switch-width - $can-toggle-offset;
                line-height: $can-toggle-height -
                  ($can-toggle-offset * 2);
                // font-size: $can-toggle-switch-font-size;
              }

              &:hover {
              }
            }
          }
        }

        .can-toggle {
          position: relative;
          *,
          *:before,
          *:after {
            box-sizing: border-box;
          }
          //overflow: hidden;

          input[type='checkbox'] {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;

            &[disabled] ~ label {
              pointer-events: none;
              .can-toggle__switch {
                opacity: 0.4;
              }
            }

            &:checked {
              ~ label {
                .can-toggle__switch {
                  &:before {
                    content: attr(data-unchecked);
                    left: 0;
                  }

                  &:after {
                    content: attr(data-checked);
                  }
                }
              }

              &:focus,
              &:hover {
                ~ label {
                }
              }
            }
          }

          label {
            user-select: none;
            position: relative;
            display: flex;
            align-items: center;

            .can-toggle__label-text {
              flex: 1;
              padding-left: 32px;
            }

            .can-toggle__switch {
              position: relative;

              &:before {
                content: attr(data-checked);
                position: absolute;
                top: 0;
                text-align: center;
              }

              &:after {
                content: attr(data-unchecked);
                position: absolute;
                z-index: 5;
                text-align: center;
                background: var(--black);
                transform: translate3d(0, 0, 0);
              }
            }
          }

          // Default values for .can-toggle class
          @include can-toggle-branding;
          @include can-toggle-appearance;

          // Or re-brand the toggle for different applications
          &.demo-rebrand-2 {
            @include can-toggle-appearance(
              200px,
              // Toggle width
              50px,
              // Toggle height
              60px,
              // Toggle border radius
              4px,
              // Offset (distance btw switch and box)
            );
          }
        }
      }
    }

    .W_WorkPicsWeb {
      display: block;
      position: relative;
      width: 100%;
      margin-top: 4vh;
      height: 2350px;
      &.DisplayNone {
        display: none;
      }
      img {
        position: absolute;
        width: 30%;
        height: auto;
      }
      .A_rasklad0 {
        width: 40%;
        left: 5%;
        height: auto;
      }
      .A_raskladcard1 {
        width: 25%;
        right: 3%;
        height: auto;
      }
      .A_raskladcard2 {
        width: 28%;
        right: 18%;
        top: 200px;
        height: auto;
      }
      .A_rasklad1 {
        width: 40%;
        top: 350px;
        left: 12%;
        height: auto;
      }
      .A_lutokmobile {
        width: 18%;
        top: 750px;
        left: 0%;
        height: auto;
      }
      .A_vector1 {
        width: 20%;
        top: 700px;
        right: 15%;
        height: auto;
      }
      .A_vector2 {
        width: 18%;
        top: 800px;
        right: 0%;
        height: auto;
      }
      .A_lutokmain {
        width: 50%;
        top: 1000px;
        left: 20%;
        height: auto;
      }
      .A_lutokblock {
        width: 28%;
        top: 1400px;
        left: 0%;
        height: auto;
      }
      .A_rasklad2 {
        width: 40%;
        top: 1500px;
        right: 0%;
        height: auto;
      }
      .A_vtoroe1 {
        width: 25%;
        top: 1700px;
        left: 30%;
        height: auto;
      }
      .A_vtoroe2 {
        width: 20%;
        top: 1900px;
        left: 12%;
        height: auto;
      }
    }
    .W_WorkPicsGraphic {
      display: flex;
      position: relative;
      width: 100%;
      margin-top: 4vh;
      gap: 20px;
      flex-direction: row;
      margin-bottom: 100px;
      &.DisplayNone {
        display: none;
      }
      .C_WorkPicsGraphic {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 120px;
        margin-top: 140px;
        &:nth-of-type(2n) {
          margin-top: 0px;
          gap: 190px;
        }
        img {
          width: 100%;
          height: auto;
          border-radius: 10px;
        }
      }
    }
  }
}

///кейсы
///
///
///
.S_Case {
  width: 1820px;
  min-height: 80vh;
  margin: 0 auto;
  position: relative;
  top: 0;
  .W_RaskladHead {
    min-height: 90vh;
    max-height: 3000px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    .A_Text {
      max-width: 50%;
      text-align: center;
    }
    .p {
      color: var(--grey);
    }
    img {
      position: absolute;
    }
    .A_ImageRasklad1 {
      max-width: 45%;
      height: auto;
      left: -10%;
      top: 150px;
    }
    .A_ImageRasklad2 {
      max-width: 42%;
      height: auto;
      right: -20%;
      top: 100px;
    }
    .A_ImageRasklad3 {
      max-width: 20%;
      height: auto;
      right: 18%;
      top: 300px;
    }
    .A_ImageRasklad4 {
      max-width: 23%;
      height: auto;
      right: 25%;
      top: 400px;
    }
  }
  .O_RaskladBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    min-height: 100vh;
    .M_RaskladMenu {
      flex: 1;
      height: 300px;
      position: sticky;
      padding-top: 60px;
      top: 0;
      line-height: 180%;
      gap: 10px;
      display: flex;
      flex-direction: column;
      *:hover {
        color: var(--pink);
      }
    }
    .M_RaskladBody {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .S_RaskladBody {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;

        .C_ColumnsRaskladBody {
          width: 100%;
          gap: 20px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          .M_ColumnRaskladBody {
            width: 100%;
            gap: 20px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            .A_Column1RaskladBody {
              flex: 1;
              color: var(--grey);
            }
            .A_Column2RaskladBody {
              flex: 2;
              line-height: 180%;
            }
          }
        }
        .A_VideoVimeo {
          width: 100%;
          position: relative;
          padding-bottom: 60%; /* 16:9 соотношение сторон */
          height: 0;
        }

        .A_VideoVimeo iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: none;
        }
      }
    }
  }
}

////приколы
.A_VideoBack {
  width: 100vw;
  height: 80vh;
  position: relative;
  background-image: url('offtop/offtop.gif');
  margin-top: -180px;
  top: 0;
  left: 0;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0px 4px 25.3px 0px rgba(0, 0, 0, 0.1);
}
.S_Offtop {
  width: 1820px;
  min-height: 80vh;
  margin: 0 auto;
  position: relative;
  gap: 4vh;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .C_Offtops {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    .M_OfftopBlock {
      position: relative;
      background-color: var(--white);
      display: flex;
      width: 100%;
      max-width: 400px;
      border-radius: 30px;
      box-shadow: 0px 4px 25.3px 0px rgba(0, 0, 0, 0.1);
      padding: 20px;
      align-items: flex-start;
      gap: 12px;
      &:hover {
        filter: brightness(0.95);
      }
      .A_LinkOfftop {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: image-url('pointer.svg'), auto;
      }
      .A_ImageOfftopBlock {
        width: 100px;
        flex-shrink: 0;
        height: 100px;
        border-radius: 18px;
        background-image: url('offtop/1.jpg');
        background-size: cover;
        &.A_ImageOfftopBlock2 {
          background-image: url('offtop/2.jpg');
        }
        &.A_ImageOfftopBlock3 {
          background-image: url('offtop/3.jpg');
        }
        &.A_ImageOfftopBlock4 {
          background-image: url('offtop/4.jpg');
        }
      }
      .W_TextOfftopBlock {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        .p {
          color: var(--grey);
        }
      }
    }
  }
  .A_Heading {
    margin-top: 60px;
  }
  .C_AnotherOfftops {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    .C_OfftopColumn {
      display: flex;
      flex-direction: column;
      width: 400px;
      gap: 20px;
      justify-content: flex-start;
      .M_AnotherOfftop {
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 100px;
        height: 400px;
        border-radius: 30px;
        background-color: var(--white);
        box-shadow: 0px 4px 25.3px 0px rgba(0, 0, 0, 0.1);
        position: relative;
        &:not(.M_Stone, .M_Sister, .M_ElioDance, .M_Shrek):hover {
          filter: brightness(0.95);
        }
        .A_LinkOfftop {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 10;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          cursor: image-url('pointer.svg'), auto;
        }
        &.M_OfftopTouch {
          background-image: url('offtop/touch.jpg');
          height: 200px;
        }
        &.M_OfftopNitka {
          background-image: url('offtop/nitka.jpg');
        }
        &.M_OfftopFont {
          background-image: url('offtop/font.jpg');
          height: 500px;
        }
        &.M_Museum {
          background-image: url('offtop/museum.png');
          height: 200px;
        }
        &.M_b22 {
          background-image: url('offtop/b22.png');
          height: 300px;
          background-position: top;
        }
        &.M_Motion {
          background-image: url('offtop/motion.gif');
          height: 300px;
        }
        &.M_b21 {
          background-image: url('offtop/b21.png');
          height: 200px;
          background-position: top;
        }
        &.M_b211 {
          background-image: url('offtop/b211.png');
        }
        &.M_teremok {
          background-image: url('offtop/teremok.png');
          background-position: top;
          height: 200px;
        }
        &.M_table {
          background-image: url('offtop/table.jpg');
          height: 200px;
        }
        &.M_Sister {
          background-image: url('offtop/sister.jpg');
        }
        &.M_Moment {
          background-image: url('offtop/moment.jpg');
          height: 200px;
        }
        &.M_Essay {
          background-image: url('offtop/essay.jpeg');
          height: 200px;
          background-position: top;
        }
        &.M_Stone {
          background-image: url('offtop/stone.gif');
          height: 200px;
        }
        &.M_Subway {
          background-image: url('offtop/subway.jpeg');
          height: 500px;
        }
        &.M_Cat {
          background-image: url('offtop/cat.jpeg');
          height: 300px;
        }
      }
    }
  }
}

///кепки
.S_Caps {
  width: 1820px;
  min-height: 80vh;
  margin: 0 auto;
  position: relative;
  gap: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .A_Text,
  .A_Heading {
    max-width: 50%;
    text-align: center;
  }
  .C_CapsBlocks {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    .O_CapBlock {
      width: calc(20% - 20px);
      min-width: 220px;
      height: 300px;
      box-sizing: border-box;
      border-radius: 30px;
      background: #fff;
      box-shadow: 0px 4px 25.3px 0px rgba(0, 0, 0, 0.1);
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 6px;
      img {
        height: 50%;
        width: auto;
        margin-bottom: 10px;
      }
      .A_CapHeading {
        text-align: center;
      }
      .A_CapText {
        text-align: center;
        color: var(--grey);
      }
    }
  }
}
//радости
.S_Happiness {
  width: 1820px;
  min-height: 80vh;
  margin: 0 auto;
  position: relative;
  gap: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .A_Text,
  .A_Heading {
    max-width: 50%;
  }
  .C_HappinessBlocks {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .O_Happiness {
      width: calc(33% - 20px);
      height: 200px;
      box-sizing: border-box;
      border-radius: 30px;
      background: #fff;
      box-shadow: 0px 4px 25.3px 0px rgba(0, 0, 0, 0.1);
      padding: 20px;
      display: flex;
      flex-direction: row;
      padding: 36px;
      gap: 2vh;
      justify-content: space-between;
      .W_HappinessTexts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .HappinessDate {
          color: var(--grey);
        }
        .W_HappinessTexts2 {
          display: flex;
          flex-direction: column;
          gap: 1vh;
        }
      }
      img {
        border-radius: 18px;
        position: relative;
        height: 100%;
        width: auto;

        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
      }
    }
  }
}
