.button_button__yEIr9 {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    overflow: visible;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    width: inherit;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    -webkit-tap-highlight-color:transparent
}

.button_button__yEIr9::-moz-focus-inner {
    border: 0;
    padding:0
}

.button_button__yEIr9:focus {
    outline:none
}

.button_button__yEIr9:disabled {
    background:#f4f4f4
}

.button_button__yEIr9.button_transparent__g0PCR {
    background: var(--grey-transparent);
    background-color: var(--grey-transparent);
    border-color:transparent
}

.button_buttonEllipse__9D1zE, .button_round__a9uX5 {
    border-radius:50px
}

.button_like__iBl57, .button_share__JXfJK {
    border:1px solid var(--grey-transparent)
}

.button_default__UPStn, .button_play__qbrNZ {
    background:var(--light-yellow)
}

.button_yellow__IeHMl {
    background:var(--link-yellow)
}

.button_default__UPStn:hover, .button_play__qbrNZ:hover, .button_play__qbrNZ:not(:hover):hover, .button_yellow__IeHMl:hover {
    background: var(--vivid-yellow);
    opacity:.9
}

.button_iframe-play-track__10LwV, .button_iframe-play__fuM1Z {
    background:var(--white-small-transparent)
}

.button_iframe-play__fuM1Z:hover {
    background:var(--white-hight-transparent)
}

.button_iframe-play-track__10LwV:hover {
    background:var(--white)
}

.button_iframe-like__ZF7ks, .button_iframe-share__BWEVK {
    background:var(--white-hight-transparent)
}

.button_button__yEIr9.button_whiteTransparent__GNdLN:disabled, .button_whiteTransparent__GNdLN {
    background:var(--grey-transparent)
}

.button_whiteDarkBg__fgbwG, .button_whiteDarkBg__fgbwG:disabled {
    background:var(--grey-hight-transparent)
}

.button_white__0XvXh {
    background:var(--white)
}

.button_text__W03a6 {
    color: var(--white);
    margin: 0 3px;
    display: flex;
    max-width:100%
}

.button_white__0XvXh .button_text__W03a6 {
    color:var(--black)
}

.button_plus__6oh56 {
    background:var(--plus-rainbow)
}

.button_plus__6oh56 .button_text__W03a6 {
    color:var(--white)
}

.button_has-plus__5tu7g {
    background:var(--light-grayish-blue)
}

.button_has-plus__5tu7g .button_text__W03a6 {
    color:var(--blue)
}

.button_medium__M4tPY {
    width: 40px;
    height:40px
}

.button_small__O23qK {
    width: 32px;
    height:32px
}

.button_extra-small__M4y7J {
    width: 26px;
    height:26px
}

.button_large__TjpZe {
    width: 64px;
    height:64px
}

.button_margin__IiFEg {
    margin-right:8px
}

.button_buttonIconWithText__Ty60g.button_medium__M4tPY {
    padding:0 12px
}

.button_buttonIconWithText__Ty60g.button_small__O23qK {
    padding:0 6px
}

.button_buttonIconWithText__Ty60g.button_optionButton___dSVY {
    padding:0 22px
}

.button_buttonIconWithText__Ty60g {
    width:auto
}

.button_button__yEIr9:disabled, .button_disabled__6xm6g, .button_disabled__6xm6g:hover {
    background:var(--light-gray)
}

.bubble_bubble__3egSn {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #fc0;
    animation:bubble_bubble_out__tluvd .6s ease-in-out infinite both
}

@keyframes bubble_bubble_out__tluvd {
    0%, to {
        transform:scale(.66)
    }

    50% {
        transform:scale(1)
    }
}

.button-wrap_buttonBlock__ag7kM {
    border: none;
    background: transparent;
    display: block;
    padding: 0;
    margin: 0;
    text-align: inherit;
    color: inherit;
    outline: none;
    font-size: inherit;
    line-height: inherit;
    -webkit-tap-highlight-color:transparent
}

.button-wrap_buttonBlockFullWidth__Wgaj6 {
    width:100%
}

.button-wrap_buttonBlockFullHeight__jM2oB {
    height:100%
}

.button-wrap_buttonInline__9kTNS {
    display:inline
}

.stack_row__4_23I {
    display:flex
}

.stack_bottom__h3ZGQ {
    margin-top:auto
}

.iframe-layout_mainContainer__jOUWu {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow:hidden
}

:root {
    --smoke-white: #f2f2f2;
    --space-grey: #908f8f;
    --light-yellow: #ffdb4d;
    --light-gray: #d7d7d7;
    --very-light-gray: #ebebeb;
    --alabaster: #fafafa;
    --vivid-yellow: #ffe302;
    --vivid-red: #f33;
    --very-dark-gray: #222;
    --dark-gray: #7c7c7c;
    --gray: #a7a7a7;
    --floar-white: #f6f5f3;
    --shady-grey: #acaaac;
    --white-transparent: hsla(0, 0%, 100%, .9);
    --white-medium-transparent: hsla(0, 0%, 100%, .7);
    --white-small-transparent: hsla(0, 0%, 100%, .95);
    --white-half-transparent: hsla(0, 0%, 100%, .5);
    --white-hight-transparent: hsla(0, 0%, 100%, .1);
    --grey-transparent: hsla(0, 0%, 100%, .2);
    --grey-hight-transparent: hsla(0, 0%, 100%, .05);
    --progres-bar-loading: hsla(0, 0%, 75%, .95);
    --grey-high-transparent: hsla(0, 0%, 100%, .03);
    --black-half-transparent: rgba(0, 0, 0, .5);
    --link-yellow: #ffdd60;
    --dark-page-background: #0f0f0f;
    --light-blue: #0858f4;
    --light-grayish-blue: #edeffc;
    --plus-rainbow: linear-gradient(90deg, #ff5c4d, #eb469f 30%, #8341ef 75%, #3f68f9);
    --text-rainbow: linear-gradient(0deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)), radial-gradient(100% 283.68% at 0% 100%, #fcab14 0%, #fa6641 15.91%, #be40c0 40.21%, rgba(80, 90, 221, 0) 100%), radial-gradient(107.24% 195.45% at 100% 0%, #48cce0 0%, #428beb 28.85%, #505add 60.18%);
    --twilight-grey: #46494b;
    --font-regular: "YSansRegular";
    --font-bold: "YSansBold";
    --font-bold-italic: "YSansBoldItalic";
    --font-light: "YSansLight"
}

.buttons_shareIcon__aJhvB {
    pointer-events:none
}

.buttons_likeIcon__COwHa, .buttons_likedIcon__XACqw, .buttons_playIcon__Jj0ew, .buttons_shareIcon__aJhvB {
    width:16px
}

.buttons_playIcon__Jj0ew {
    fill:var(--very-dark-gray)
}

.buttons_likeIcon__COwHa, .buttons_likedIcon__XACqw, .buttons_shareIcon__aJhvB {
    fill:var(--white-medium-transparent)
}

.buttons_controlButton__QvrSt {
    border-radius:50%
}

.buttons_controlButton__QvrSt:hover .buttons_likeIcon__COwHa, .buttons_controlButton__QvrSt:hover .buttons_likedIcon__XACqw, .buttons_controlButton__QvrSt:hover .buttons_playIcon__Jj0ew, .buttons_controlButton__QvrSt:hover .buttons_shareIcon__aJhvB {
    fill:var(--white)
}

.buttons_controlButton__QvrSt:hover .buttons_disabledPlay__O_u03 {
    fill:var(--very-dark-gray)
}

.buttons_controlButton__QvrSt:hover .buttons_likeIcon__COwHa:not(.buttons_likedIcon__XACqw) {
    fill:var(--white-small-transparent)
}

@media screen and (max-height: 180px) {
    .buttons_buttons__CWGdM {
        margin-top:auto
    }

    .buttons_icons__wijIw {
        padding:0
    }
}

.music-redirect-link_sourceLink__IhKbG, .music-redirect-link_sourceLink__IhKbG:focus {
    font-size: 14px;
    line-height: 20px;
    color:var(--white-half-transparent)
}

.music-redirect-link_arrowLinkIcon__h4r66 {
    width: 9px;
    height: 9px;
    margin-left: 4px;
    fill:var(--white-half-transparent)
}

.music-redirect-link_sourceLink__IhKbG:hover, .music-redirect-link_sourceLink__IhKbG:hover .music-redirect-link_arrowLinkIcon__h4r66 {
    color: var(--white);
    fill:var(--white)
}

@media (max-width: 570px) and(orientation: portrait) {
    .music-redirect-link_sourceLink__IhKbG {
        display:none
    }
}

.title_title__ecGuG {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 4px;
    font-weight: 700;
    color: var(--white);
    cursor:default
}

.title_explicit__6wFK8 {
    margin-left: 4px;
    vertical-align:text-bottom
}

@media screen and (max-width: 380px) {
    .title_title__ecGuG {
        font-size:16px
    }
}

.info_info__AXcx6 {
    display: flex;
    flex-direction:column
}

.track-description_description__gCBbw {
    line-height: 20px;
    font-size: 14px;
    font-family:var(--font-regular)
}

.track-description_white__BlMiY {
    color:var(--white-small-transparent)
}

.track-description_dark__pmPG_ {
    color:var(--space-grey)
}

.artist-name_name__r2GbT {
    position:relative
}

.artist-name_name__r2GbT + .artist-name_name__r2GbT {
    margin-left:4px
}

.artist-name_iframe-header__0qQu3.artist-name_name__r2GbT, .artist-name_iframe-header__0qQu3.artist-name_name__r2GbT:visited {
    line-height: 20px;
    font-size: 14px;
    color:var(--white-small-transparent)
}

.artist-name_player-bar__Yj6a_.artist-name_name__r2GbT, .artist-name_player-bar__Yj6a_.artist-name_name__r2GbT:visited, .artist-name_track__08AgG.artist-name_name__r2GbT, .artist-name_track__08AgG.artist-name_name__r2GbT:visited {
    font-size: 12px;
    line-height: 16px;
    color:var(--dark-gray)
}

.artist-name_link__55DAD {
    cursor: pointer;
    text-decoration:none
}

.artist-name_iframe-header__0qQu3.artist-name_link__55DAD:hover {
    color:var(--link-yellow)
}

.artist-name_player-bar__Yj6a_.artist-name_link__55DAD:hover, .artist-name_track__08AgG.artist-name_link__55DAD:hover {
    color:var(--vivid-red)
}

.description_description__l4wK8 {
    color:var(--white-small-transparent)
}

.description_descriptionText__bgu8i, .owner-name_ownerLink__q3QLy {
    line-height: 20px;
    font-size: 14px;
    font-family:var(--font-regular)
}

.owner-name_ownerLink__q3QLy {
    cursor: pointer;
    text-decoration:none
}

.owner-name_ownerLink__q3QLy + .owner-name_ownerLink__q3QLy {
    margin-left:4px
}

.owner-name_ownerLink__q3QLy, .owner-name_ownerLink__q3QLy:visited {
    color:var(--white-small-transparent)
}

.owner-name_ownerLink__q3QLy:hover {
    color:var(--link-yellow)
}

.info-description_descriptionContainer__Wx3m_ {
    color:var(--white-small-transparent)
}

.header_header__Rdmtp {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    position: relative;
    padding: 20px;
    z-index:1
}

.header_header__Rdmtp:after {
    content: "";
    background: linear-gradient(180deg, var(--dark-page-background) 100%, transparent);
    left: 0;
    opacity: .2;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    height:100%
}

.header_column__QPGQP {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1;
    gap:20px
}

.header_left___oSIk {
    flex:1 1 0px
}

.header_right__cmN9R {
    align-items: flex-end;
    flex-shrink: 0;
    max-width:50%
}

.header_logo__246jU {
    width: 112px;
    fill:var(--white-half-transparent)
}

.header_logo__246jU:hover {
    fill:var(--white)
}

.header_logoLink__nSEMX {
    display: flex;
    align-items: center;
    height:20px
}

.header_progressContainer__QmJwP {
    width: 100%;
    position: absolute;
    left: 0;
    bottom:0
}

.header_infoContainer__TNect {
    display: flex;
    gap:20px
}

.header_infoWithButtons__QZ8s4 {
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding:8px 0
}

.deeplink_deeplink__05Q2x {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 55px;
    background: var(--alabaster);
    display: none;
    align-items: center;
    padding: 16px;
    border-top: 1px solid var(--smoke-white);
    z-index:1
}

.deeplink_deeplinkLogo__64k5Y {
    width: 40px;
    height: 40px;
    margin-right:12px
}

.deeplink_deepTitle__iN4bl {
    font-size: 14px;
    line-height: 18px;
    color:var(--very-dark-gray)
}

.deeplink_deepText__wwJ0F {
    font-size: 11px;
    line-height: 16px;
    color:var(--gray)
}

.deeplink_arrowLinkContainer__36ihH {
    width: 25px;
    height: 25px;
    background: var(--floar-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:auto
}

.deeplink_arrowLink__If9G0 {
    fill:var(--shady-grey)
}

@media (pointer: coarse) {
    .deeplink_deeplink__05Q2x {
        display:flex
    }
}

.overlay_overlay__DZU3P {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%
}

.modal_modal__ruM3q {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:101
}

.modal_modalContent__Dp540, .modal_modal__ruM3q {
    display: flex;
    align-items: center;
    justify-content:center
}

.modal_modalContent__Dp540 {
    flex-direction: column;
    max-width: 450px;
    width: 80%;
    text-align: center;
    padding: 32px 8px;
    background: var(--white);
    position: relative;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .2);
    margin: 0 15px;
    border-radius: 12px;
    z-index:1
}

.modal_logoModalWindow___SDOh {
    margin:0 auto
}

.modal_modalLogo__ORb8X {
    flex-shrink: 0;
    flex-basis:19px
}

.modal_modalTitle__0D50n {
    max-width: 280px;
    font-size: 26px;
    line-height: 30px;
    margin: 24px 0;
    text-align: center;
    color: var(--very-dark-gray);
    font-family:var(--font-bold)
}

.modal_payAdditionalText__6QmBS {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
    color:var(--gray)
}

.modal_modalButtonContainer__jkmx_ {
    display: flex;
    max-width: 250px;
    width:100%
}

.modal_modalButtonHasPlus__a26TD {
    margin-top:16px
}

.modal_modalButtonTextPlus__wls21, .modal_modalButtonText__lK9SC {
    font-size: 16px;
    line-height: 22px;
    padding:13px 28px
}

.modal_modalButtonText__lK9SC {
    color:var(--very-dark-gray)
}

.modal_modalButtonTextPlus__wls21 {
    color:var(--white)
}

@media (max-height: 400px),(max-width: 450px) {
    .modal_modalTitle__0D50n {
        font-size: 20px;
        line-height: 26px;
        margin:15px 0
    }

    .modal_modalButtonTextPlus__wls21, .modal_modalButtonText__lK9SC {
        font-size: 12px;
        line-height: 18px;
        padding:10px 20px
    }

    .modal_modalButtonHasPlus__a26TD {
        margin-top:10px
    }
}

@media (max-height: 400px) {
    .modal_modalContent__Dp540 {
        padding:20px 8px
    }
}

@media (max-height: 300px) {
    .modal_modalLogo__ORb8X {
        display:none
    }

    .modal_modalContent__Dp540 {
        padding: 10px 8px;
        height: calc(100vh - 15px);
        overflow-y:scroll
    }
}

@media (max-height: 250px) {
    .modal_modalTitle__0D50n {
        margin:10px 0
    }

    .modal_modalButtonHasPlus__a26TD {
        display:none
    }
}

@media (max-height: 200px),(max-width: 350px) {
    .modal_modalTitle__0D50n {
        font-size: 16px;
        line-height:20px
    }
}

@media (max-height: 200px) {
    .modal_modalContent__Dp540 {
        padding:5px
    }
}

@media (max-height: 150px),(max-width: 250px) {
    .modal_modalTitle__0D50n {
        font-size: 12px;
        line-height:16px
    }
}

@media (max-height: 120px) {
    .modal_modalTitle__0D50n {
        display:none
    }
}

.progress_progress__wVPFi {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--very-light-gray);
    position: relative;
    cursor: pointer;
    padding: 0 5px;
    height: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color:transparent
}

.progress_progress__wVPFi.progress_progressHidden__qWS3_ {
    visibility:hidden
}

.progress_progress__wVPFi.progress_progressMobile__z2C9G {
    height:2px
}

.progress_progress__wVPFi:hover .progress_hintTime__tBlTv, .progress_progress__wVPFi:hover .progress_progressTime__a5aW3 {
    opacity:1
}

.progress_progressTime__a5aW3 {
    position: relative;
    font-size:11px
}

.progress_hintTime__tBlTv, .progress_progressTime__a5aW3 {
    opacity: 0;
    transition:opacity .1s ease-in-out
}

.progress_hintTime__tBlTv {
    position: absolute;
    z-index: 2;
    bottom: calc(100% + 10px);
    left: 0;
    padding: 7px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .4);
    font-size: 13px;
    pointer-events: none;
    transform:translateX(-50%)
}

.progress_hintTime__tBlTv:before {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--white);
    content: "";
    transform:translateX(-50%)
}

.progress_hintTime__tBlTv, .progress_progressLoad___0dVo, .progress_progressTime__a5aW3 {
    pointer-events:none
}

.progress_progressLoad___0dVo, .progress_progressTrack__D28nE {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height:100%
}

.progress_progressTrack__D28nE {
    background:var(--light-yellow)
}

.progress_progressLoad___0dVo {
    background: hsla(0, 0%, 75%, .95);
    transition:all .3s linear 0s
}

.progress_progressTouch__0y9rl {
    position: absolute;
    z-index: 10;
    top: -20px;
    left: 0;
    width: 100%;
    height: 30px;
    box-sizing:border-box
}

.track-version_trackVersion__8Uc1r {
    font-size: 12px;
    line-height: 18px;
    color:var(--space-grey)
}

.track-name_trackName__RRKrE {
    color: var(--very-dark-gray);
    font-size: 15px;
    line-height: 20px;
    position:relative
}

.track-name_trackName__RRKrE:hover {
    color:var(--vivid-red)
}

.track-name_trackName__RRKrE {
    text-decoration:none
}

.bar_bar__URXuk {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    z-index: 1;
    padding: 0 16px;
    animation-name: bar_fadeInUp__6xUtR;
    animation-duration: 1s;
    animation-fill-mode: both;
    background:var(--white-small-transparent)
}

.bar_progressBar__bGxz8 {
    position: absolute;
    width: 100%;
    bottom: 100%;
    left:0
}

.bar_trackControls__qzSx2 {
    display:flex
}

.bar_trackInfo__ipiJw {
    overflow: hidden;
    width: 100%;
    margin:0 22px 0 13px
}

.bar_shotCoverContainer__c_OEV, .bar_trackInfo__ipiJw {
    display: flex;
    align-items:center
}

.bar_shotCoverContainer__c_OEV {
    justify-content: center;
    width: 50px;
    height: 50px;
    background: var(--twilight-grey);
    border-radius:6px
}

.bar_nonMusicTitle__RuH7D {
    color: var(--very-dark-gray);
    font-size: 16px;
    line-height: 24px;
    margin-left: 8px;
    white-space:nowrap
}

.bar_trackDescription__n6uBI {
    overflow: hidden;
    width: 100%;
    margin-left:10px
}

.bar_trackNameContainer__HnFSM {
    display: flex;
    align-items:center
}

.bar_trackVersion__X6iPu {
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    color:var(--space-grey)
}

.bar_explicit__838xM {
    max-width: 100%;
    display: flex;
    margin:0 5px
}

.bar_description__AwaCY {
    display: block;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space:nowrap
}

.bar_likeIcon__mqvQ_, .bar_likeIcon__mqvQ_:focus, .bar_nextIcon__a_lST, .bar_pauseIcon__SmVJQ, .bar_playIcon__nJLmZ, .bar_prevIcon__eYGvk, .bar_shareIcon__NUaEd, .bar_shareIcon__NUaEd:focus {
    fill:var(--gray)
}

.bar_likeIcon__mqvQ_:active, .bar_nextIcon__a_lST:active, .bar_pauseIcon__SmVJQ:active, .bar_playIcon__nJLmZ:active, .bar_prevIcon__eYGvk:active, .bar_shareIcon__NUaEd:active {
    fill:var(--very-dark-gray)
}

.bar_likedIcon__9VGlJ {
    fill:var(--vivid-red)
}

@media (hover: hover) {
    .bar_likeIcon__mqvQ_:not(.bar_likedIcon__9VGlJ):hover, .bar_nextIcon__a_lST:hover, .bar_pauseIcon__SmVJQ:hover, .bar_playIcon__nJLmZ:hover, .bar_prevIcon__eYGvk:hover, .bar_shareIcon__NUaEd:hover {
        fill:var(--very-dark-gray)
    }
}

@keyframes bar_fadeInUp__6xUtR {
    0% {
        opacity: 0;
        transform:translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        transform:translateZ(0)
    }
}

@media only screen and (orientation: portrait) {
    .bar_bar__URXuk {
        padding: 0 10px;
        justify-content:space-between
    }

    .bar_trackInfo__ipiJw {
        display:none
    }
}

.track_track__LmN1W {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    cursor: pointer;
    transition: hover .2s ease-in-out;
    gap:12px
}

.track_track__LmN1W .track_trackControls__V6ZxP > .track_controlButton___HEtj {
    display:none
}

.track_track__LmN1W .track_controlButton___HEtj {
    opacity:0
}

.track_trackContainer__UBsrU, .track_trackCoverContainer__0NJE_ {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center
}

.track_trackCoverContainer__0NJE_ {
    width: 50px;
    height: 50px;
    background: var(--twilight-grey);
    border-radius:6px
}

.track_trackCover__Gqewa, .track_trackNumber__JJhIA {
    padding:0 20px
}

.track_trackCover__Gqewa .track_trackContainer__UBsrU > .track_controlButton___HEtj {
    position:absolute
}

.track_trackPlaying__WC5V0 .track_trackContainer__UBsrU > .track_controlButton___HEtj {
    opacity:1
}

.track_cover__087gj {
    position: relative;
    margin-right:10px
}

.track_digit__h0E_D {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%)
}

.track_trackDescription__aW42L {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content:center
}

.track_trackInfoContainer__EueyH {
    max-width:100%
}

.track_trackInfoContainer__EueyH, .track_trackTitleContainer__dGVYY {
    display: flex;
    align-items:center
}

.track_explicit__SIqSs {
    margin-left:5px
}

.track_podcastDescription__e53ff {
    color: var(--dark-gray);
    font-size: 13px;
    line-height:18px
}

.track_currentDate__hAN3z {
    position: relative;
    padding-left: 10px;
    color:var(--light-blue)
}

.track_currentDate__hAN3z:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--light-blue);
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform:translateY(-50%)
}

.track_digit__h0E_D, .track_trackAvailable__ROCNq, .track_trackTime__vkMOM {
    text-decoration: none;
    white-space: nowrap;
    color:var(--dark-gray)
}

.track_digit__h0E_D, .track_trackAvailable__ROCNq {
    font-size: 15px;
    line-height:20px
}

.track_trackAvailable__ROCNq, .track_trackTime__vkMOM {
    font-size: 13px;
    line-height:18px
}

.track_controlButton___HEtj, .track_trackControls__V6ZxP {
    display: flex;
    align-items:center
}

.track_likeIcon__DvtFA, .track_shareIcon___b9iG {
    fill:var(--gray)
}

.track_likeIcon__DvtFA:not(.track_likedIcon__SyUNA):hover, .track_shareIcon___b9iG:active, .track_shareIcon___b9iG:focus, .track_shareIcon___b9iG:hover {
    fill:var(--very-dark-gray)
}

.track_likedIcon__SyUNA {
    fill:var(--vivid-red)
}

.track_overlayPlayingSource__a9pbt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%
}

@media (hover: hover) {
    .track_track__LmN1W:hover {
        background:var(--smoke-white)
    }

    .track_track__LmN1W:hover .track_controlButton___HEtj {
        display: flex;
        opacity:1
    }

    .track_track__LmN1W:hover .track_trackTime__vkMOM {
        display:none
    }
}

@media (hover: none) {
    .track_trackDescription__aW42L {
        pointer-events:none
    }

    .track_trackTime__vkMOM {
        display:none
    }
}

@media (max-width: 570px) {
    .track_trackCover__Gqewa, .track_trackNumber__JJhIA {
        padding:0 16px
    }
}

@media screen and (max-width: 570px) {
    .container_trackContainer__mg6Bm {
        transform:translateY(12px)
    }
}

.iframe_listContainer__8Yb7E {
    position: relative;
    flex-shrink: auto;
    flex-basis: 100%;
    display: flex;
    overflow: hidden;
    background:var(--grey-high-transparent)
}

.iframe_emptySource__ZKgQL {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items:center
}

.iframe_progressBar__lt9hB {
    width: 100%;
    position: relative;
    z-index: 1
}
