@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  body {
    padding-top: 120px;
  }
  .h3,
  .W_WorkPics .A_WorkToggle {
    font-size: 18px;
  }
  .h2 {
    font-size: 45px;
  }
  .p {
    font-size: 15px;
  }

  .O_Menubar {
    .A_Carina {
      height: 45px;
      width: 45px;
    }
    .M_MenuLinks {
      padding: 16px 40px;
      border-radius: 100px;
      height: 45px;
    }
  }
  .S_Main {
    width: 1400px;
    min-height: 600px;
    .W_Grid {
      & > div {
        border-radius: 30px;
      }

      .O_Offtop {
        border-radius: 30px;
        .A_OfftopLink {
          padding: 24px;
        }
      }
      .O_Happiness {
        padding: 24px;
      }
      .O_Connect {
        .A_ConnectText {
          padding: 24px;
          padding-right: 70%;
        }
      }
      .O_Hse {
        padding: 24px;
      }

      .O_CV {
        padding: 0px;
        .A_CV {
          .Q_CV {
            .Q_CV {
              font-size: 120px;
            }
          }
        }
      }
    }
  }

  .S_Work {
    width: 1400px;
    .W_WorkCases {
      .C_WorkCasesGrid {
        .M_WorkCase {
          padding: 20px;
        }
      }
    }
  }
  .S_Case,
  .S_Caps {
    width: 1400px;
  }
  .S_Offtop {
    width: 1400px;
    .M_OfftopTouch {
      height: 150px;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (min-device-width: 0px) and (max-device-width: 767px) {
}
