@media only screen and (max-width: 1919px) {
  body {
    padding-top: 120px;
  }
  .h3,
  .W_WorkPics .A_WorkToggle {
    font-size: 18px;
  }
  .h2 {
    font-size: 45px;
  }

  .O_Menubar {
    .A_Carina {
      height: 45px;
      width: 45px;
    }
    .M_MenuLinks {
      padding: 16px 40px;
      border-radius: 100px;
      height: 45px;
    }
  }
  .S_Main {
    width: 1400px;
    min-height: 600px;
    .W_Grid {
      & > div {
        border-radius: 24px;
      }

      .O_Offtop {
        border-radius: 24px;
        .A_OfftopLink {
          padding: 24px;
        }
      }
      .O_Happiness {
        padding: 24px;
      }
      .O_Connect {
        .A_ConnectText {
          padding: 24px;
          padding-right: 70%;
        }
      }
      .O_Hse {
        padding: 24px;
      }

      .O_CV {
        padding: 0px;
        .A_CV {
          .Q_CV {
            .Q_CV {
              font-size: 120px;
            }
          }
        }
      }
    }
  }

  .S_Work {
    width: 1400px;
    .W_WorkCases {
      .C_WorkCasesGrid {
        .M_WorkCase {
          padding: 20px;
        }
      }
    }
  }
  .S_Case,
  .S_Caps,
  .S_Happiness {
    width: 1400px;
  }
  .S_Offtop {
    width: 1400px;
    .M_OfftopTouch {
      height: 150px;
    }
    .C_AnotherOfftops {
      .C_OfftopColumn {
        width: 330px;
      }
    }
  }
}

@media only screen and (max-width: 1439px) {
  // .h3, // w  ты уверена? стало странно с этим.. (в кепках и радостях например)
  .W_WorkPics .A_WorkToggle {
    font-size: 20px;
  }
  .h2 {
    font-size: 40px;
  }
  .p {
    font-size: 16px;
  }
  body {
    padding-top: 0px;
  }
  .S_Main .W_Grid .O_CV .A_CV .Q_CV {
    font-size: 130px;
  }
  .S_Main {
    width: auto;
    max-height: 100vh;
    max-width: 100vw;
    height: 85vh;

    padding: 16px;
    padding-top: 100px;

    .W_Grid {
      max-height: 100vh;
      height: auto;
      min-height: 100px;
      & > div {
        // border-radius: 24px;
      }
    }
  }
  .O_Footer {
    padding: 16px;
  }

  .S_Work,
  .S_Caps,
  .S_Offtop,
  .S_Happiness,
  .S_Case {
    width: auto;
    overflow-x: hidden;
  }

  .S_Work {
    .W_WorkInfo {
      padding: 0 20px;
    }
  }

  .S_Offtop {
    .C_Offtops,
    .C_AnotherOfftops {
      padding: 0 10px;
    }
    .C_AnotherOfftops {
      justify-content: center;
      .C_OfftopColumn {
        width: 46%;
      }
    }
  }
  .S_Work {
    .W_WorkCases .C_WorkCasesGrid {
      .M_WorkCase.WorkCaseRasklad,
      .M_WorkCase.WorkCaseLutok,
      .M_WorkCase.WorkCasevtoroe {
        grid-column: 3 / 11;
      }
      .M_WorkCase.WorkCaseSberAI,
      .M_WorkCase.WorkCaseTinder {
        grid-column: 3 / 7;
      }
      .M_WorkCase.WorkCasePortfolio {
        grid-column: 7 / 11;
        .A_portfoliopreview {
          bottom: 25%;
          right: -45%;
        }
        &:hover .A_portfoliopreview {
          bottom: 20%;
          right: -40%;
        }
      }
      .M_WorkCase.WorkCaseZine {
        grid-column: 3 / 5;
      }
      .M_WorkCase.WorkCaseGotbit {
        grid-column: 5 / 8;
      }
      .M_WorkCase.WorkCaseKandinsky {
        grid-column: 8 / 11;
      }
    }
  }
}

@media only screen and (max-width: 1190px) {
  .S_Offtop {
    .C_Offtops,
    .C_AnotherOfftops {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .S_Main .W_Grid .O_CV .A_CV .Q_CV {
    font-size: 100px;
  }
  .S_Work {
    .W_WorkCases .C_WorkCasesGrid {
      .M_WorkCase.WorkCaseRasklad,
      .M_WorkCase.WorkCaseLutok,
      .M_WorkCase.WorkCasevtoroe {
        grid-column: 2 / 12;
      }
      .M_WorkCase.WorkCaseSberAI,
      .M_WorkCase.WorkCaseTinder {
        grid-column: 2 / 7;
      }
      .M_WorkCase.WorkCasePortfolio {
        grid-column: 7 / 12;
        .A_portfoliopreview {
          bottom: 25%;
          right: -45%;
        }
        &:hover .A_portfoliopreview {
          bottom: 20%;
          right: -40%;
        }
      }
      .M_WorkCase.WorkCaseZine {
        grid-column: 2 / 5;
      }
      .M_WorkCase.WorkCaseGotbit {
        grid-column: 5 / 8;
      }
      .M_WorkCase.WorkCaseKandinsky {
        grid-column: 8 / 12;
      }
    }
  }
  .S_Case {
    .O_RaskladBody {
      flex-direction: column;
      padding: 0 20px;
      .M_RaskladMenu {
        position: relative;
        left: 0;
        padding: 0;
      }
      .S_RaskladBody {
        margin-bottom: 80px !important;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .h3,
  .W_WorkPics .A_WorkToggle {
    font-size: 18px;
  }
  .h2 {
    font-size: 32px;
  }
  .p {
    font-size: 14px;
  }
  .O_Footer {
    padding-bottom: 100px;
  }
  .O_Menubar {
    display: none;
  }
  .O_MenubarMobile {
    display: flex;
  }
  .S_Main .W_Grid .O_Happiness {
    min-width: initial;
    width: 100%;
    height: 250px;
  }
  body {
    padding-top: 20px;
  }
  .A_VideoBack {
    height: 97vh;
  }
  .S_Offtop
    .C_AnotherOfftops
    .C_OfftopColumn
    .M_AnotherOfftop.M_Moment,
  .S_Offtop
    .C_AnotherOfftops
    .C_OfftopColumn
    .M_AnotherOfftop.M_teremok,
  .S_Offtop .C_AnotherOfftops .C_OfftopColumn .M_AnotherOfftop.M_Cat,
  .S_Offtop
    .C_AnotherOfftops
    .C_OfftopColumn
    .M_AnotherOfftop.M_OfftopTouch {
    height: 30px;
    min-height: 110px;
  }
  .S_Offtop .C_AnotherOfftops .C_OfftopColumn .M_AnotherOfftop.M_b22,
  .S_Offtop
    .C_AnotherOfftops
    .C_OfftopColumn
    .M_AnotherOfftop.M_OfftopFont,
  .S_Offtop
    .C_AnotherOfftops
    .C_OfftopColumn
    .M_AnotherOfftop.M_OfftopNitka,
  .S_Offtop
    .C_AnotherOfftops
    .C_OfftopColumn
    .M_AnotherOfftop.M_Sister {
    height: 250px;
  }

  .S_Work {
    .W_WorkCases .C_WorkCasesGrid {
      grid-template-rows: repeat(18, 1fr);
      padding: 0 10px;

      > * {
        grid-column: 1 / 13 !important;
        grid-row: span 2 !important;
      }
    }
  }
  .S_Case {
    .O_RaskladBody {
      .C_ColumnsRaskladBody {
        flex-direction: column !important;
      }
    }
  }
}
@media only screen and (orientation: portrait) {
  .S_Main {
    height: 90vh;
    .W_Grid {
      height: 90vh;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(8, 1fr);
      grid-gap: 8px;
      & > div {
        // padding: 10px;
      }

      .O_Music {
        display: none;
      }
      .O_Offtop {
        grid-column: 1 / 3;
        grid-row: 4;
      }
      .O_MyCaps {
        grid-column: 1;
        grid-row: 3;
      }
      .O_Happiness {
        grid-column: 3/ 5;
        grid-row: 1 / 4;
        flex-direction: column;
        overflow: hidden;
        justify-content: space-between;
        height: auto;
        img {
          height: auto;
          height: 130px;
          width: 100%;
          max-width: 100vw;
          object-fit: cover;
        }
      }
      .O_Connect {
        grid-column: 1 / 5;
        grid-row: 6 / 9;
      }
      .O_CV {
        grid-column: 3/ 5;
        grid-row: 4/ 6;
      }
      .O_TgChannel {
        grid-column: 2;
        grid-row: 3;
      }
      .O_Timer {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
      }
      .O_Hse {
        grid-column: 1 / 3;
        grid-row: 5;
        flex-direction: row;
        .A_HseImg {
          width: 100px;
          max-width: none;
        }
      }
    }
  }
  .S_Case .O_RaskladBody .M_RaskladBody .S_RaskladBody .S_Etc {
    flex-direction: column;
    .M_WorkCase {
      width: 100%;
    }
  }
}
@media only screen and (orientation: portrait) and (max-width: 767px) {
  .S_Main {
    padding-top: 16px;
    padding-bottom: 60px;
    height: 95vh;
    .W_Grid {
      height: 95vh;
      & > div {
        border-radius: 16px;
      }
      .O_Offtop {
        border-radius: 16px;
      }

      .O_Happiness,
      .O_Timer,
      .O_Hse {
        padding: 16px;
      }
      .O_Happiness {
        .HappinessDate {
          display: none;
        }
        img {
          height: 80px;
        }
      }
      .O_Connect {
        a svg {
          width: 140%;
          top: -150px;
          right: -200px;
          transition: all 0.5s;
          animation: rotate 60s linear infinite;
        }
      }
      @keyframes rotate {
        from {
          transform: rotate(360deg);
        }
      }
      .O_Hse {
        img {
          display: none;
        }
      }
      .h3 {
        font-size: 14px;
      }
    }
  }
  .S_Main ~ .O_Footer {
    display: none;
  }
}
